<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'maqola/bootstrap-5.0.2-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'maqola/style/style.css' %}">
    <title>Maqola 1</title>
</head>
<body>
    <div class="container">
        <h1>2021 June</h1>
        <div class="row">
            {%  if rasmlar|length > 0%}
            {% for i in rasmlar %}
            <div class="col-12">
                <img  src="{{ i.Rasm.url }}" alt   ="">
                <p>   {{ m.matn }} </p>
            </div>
            <div class="col-12">
                <img src="{{ i.Rasm.url }}" alt="" class="img-responsive">
            </div>
            {% endfor %}
            {% else %}
        </div>
        <div class="row footer">
            <p>© 2021 izzatillo.com</p>
            <p>{{ m.matn %} </p>
        </div>
        {% endif %}
    </div>
</body>
</html>